:root {
    --box-shadow-white: 4px 6px 8px 0px rgba(0, 0, 0, .2);
    // --bg-default:rgba(0, 0, 0, 0.02);
    --bg-default: rgb(0 0 0 / 4%);
    --border-radius-default: 5px;
    --slide-edge-bg: rgba(0, 0, 0, .2);
}